.pagina-consultar {
    background-color: #4169e1;
    min-width: 100vh;
    min-height: 100vh;
    color: #ffffff;
    
    .secaomae{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 50px;

        button {
            font: 400 24px Arial;
            border-radius: 10px;
            padding: 12px;
        }

        table {
            background-color: #000000;
            width: 1200px;

            th {
                text-align: left;
                padding: 5px;
                background-color: darkgrey;
                color: #000000;
            }

            td {
                padding: 5px;
                border-top: 1px solid #000;
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
}