.pagina-login{
    background-color: #4169e1;
    min-width: 100vh;
    min-height: 100vh;
    color: #ffffff;

    .secaomae{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        height: 100vh;

        .dologin{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}